.cache/
.pytest_cache/
.mypy_cache/

dist/
*.egg-info/

.vscode/
.idea/
.venv/

**/__samples__/
**/__pycache__/

htmlcov/

.coverage
.notifier
.DS_Store
.env
*.pyc
*~
*.conf
*.db
*.orig

.config/*.json
.config/*.yml
!.config/meta.yml
configuration/
configuration.json
log.txt
